.text-ellipsis {
  -webkit-line-clamp: 1;
  line-height: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &--expanded {
    -webkit-line-clamp: 10000 !important;
  }

  &--checker {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__button {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 14px;

    &--string {
      background: transparent;
      border: none;
      font-weight: 600;
      padding: 0;
      box-shadow: none;
    }
  }
}