
.wrapper {
  position: relative;
  border: 1px solid var(--color-gray-25);
  background: var(--color-gray-0);
  border-radius: var(--border-radius-xl);
  box-shadow: var(--shadow-lg);
  overflow: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;

  &__cell-shimmer {
    border-radius: 20px;
    height: 20px;
    overflow: hidden;
  }

  &__pagination {
    padding: var(--spacer-sm) var(--spacer-df);
    border-top: 1px solid var(--color-gray-25)
  }
  
  &__filters {
    padding: var(--spacer-sm) var(--spacer-df);
    border-bottom: 1px solid var(--color-gray-25)
  }
}

.cell {
  padding: var(--spacer-df) var(--spacer-sm);
  text-align: left;
  border-top: 1px solid var(--color-gray-25);

  &:first-child {
    padding-left: var(--spacer-df);
  }

  &:last-child {
    padding-right: var(--spacer-df);
  }

  &--head {
    border: none;

  }

  &--sortable {
    cursor: pointer;
  }

  &__sort-indicator {
    opacity: .3;
    display: inline-block;
    vertical-align: middle;
    padding-left: var(--spacer-sm);

    &:hover, &--active {
      opacity: 1;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}