


// .drop-down-menu-button {
//   anchor-name: --profile-button;
// }
// replaced with
// style={{ "anchor-name": `--anchor__${menuId}` }}

.profile-menu {
  border: 1px solid #a3a3a3;
  display: none;
  /* anchoring to the button */
  position: absolute;
  // position-anchor: --profile-button;
  // replaced with 
  // style={{ "position-anchor": `--anchor__${menuId}` }}
  margin: 0;
  inset: auto;
  // bottom 
    top: anchor(bottom);
    left: anchor(left);
  // top
    // bottom: anchor(top);
    // left: anchor(left);
  // left
        bottom: anchor(bottom);
        right: anchor(left);
  opacity: 0;
  transition: opacity .5s, display .5s, overlay .5s;
  transition-behavior: allow-discrete;

  position-try-fallbacks: --bottom-right, --bottom-left, --top-right, --top-left;

  & > * {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    &:hover {
      background: #fafafa;
    }
  }

  &:popover-open {
    display: grid;
    opacity: 1;

    @starting-style {
      display: grid;
      opacity: 0;
    }
  }
}
@position-try --bottom-right {
  inset: auto;
  top: anchor(bottom);
  left: anchor(left);
}

@position-try --bottom-left {
  inset: auto;
  top: anchor(bottom);
  right: anchor(right);
}

@position-try --top-right {
  inset: auto;
  bottom: anchor(top);
  left: anchor(left);
}

@position-try --top-left {
  inset: auto;
  bottom: anchor(top);
  right: anchor(right);
}