.field_wrapper {
  display: flex;
  flex-direction: column;

  input {
    all: unset;
    padding: 0.2rem 0.5rem;
    border: 1px solid #f3f3f3;
    border-radius: 0.2rem;
  }

  &--success {
    input {

      border-color: greenyellow;
    }
  }

  &--error {
    input {

      border-color: red;
    }
  }
}

.field-help-text {
  padding-left: .5rem;

  &--success {
    color: green;
  }

  &--error {
    color: red;
  }
}

.field_wrapper + .field_wrapper {
  margin-top: 2rem;
}